{% extends "ProjetBundle:Default:tables.html.twig" %}
{% block container %}
    <h2> Liste des invitation  :  </h2>
    <br>
    <table class="table">

        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Nom Magasin</th>
            <th>accepter</th>
            <th>refuser</th>


        </tr>


    </table>
    </form>
{% endblock %}